html,
body {
width: 100%;
min-height: 100%;
margin: 0;
padding: 0;

background-image: url('/papir.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
app-root {
display: block;
min-height: 100vh;
background-image: url('/papir.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}